#pcm{display:none;}
ul.cssMenu ul{display:none}
ul.cssMenu li:hover>ul{display:block}
ul.cssMenu ul{position: absolute;left:-1px;top:98%;}
ul.cssMenu ul ul{position: absolute;left:98%;top:-2px;}
ul.cssMenu,ul.cssMenu ul {
    margin:0px;
    list-style:none;
    padding:0px 2px 2px 0px;
    background-color:#333333;
    background-repeat:repeat;
    border-color:#cccccc #111111 #111111 #cccccc;
    border-width:1px;
    border-style:solid;
}
ul.cssMenu table {border-collapse:collapse}

ul.cssMenu {
    display:inline-block;
    zoom:1;
    float: left;
}

ul.cssMenu ul{
}
ul.cssMenu li{
    display:block;
    margin:2px 0px 0px 2px;
    font-size:0px;
}
ul.cssMenu a:active, ul.cssMenu a:focus {
outline-style:none;
}
ul.cssMenu a, ul.cssMenu li.dis a:hover, ul.cssMenu li.sep a:hover {
    display:block;
    vertical-align:middle;
    background-color:#333333;
    border-width:1px;
    border-color:#333333;
    border-style:solid;
    text-align:left;
    text-decoration:none;
    padding:2px 5px 2px 10px;
    _padding-left:0;
    font:normal 12px Trebuchet MS,Tahoma;
    color: #cccccc;
    text-decoration:none;
    cursor:default;
}
ul.cssMenu span{
    overflow:hidden;
}
ul.cssMenu li {
    float:left;
}
ul.cssMenu ul li {
    float:none;
}
ul.cssMenu ul a {
    text-align:left;
    white-space:nowrap;
}
ul.cssMenu li.sep{
    text-align:left;
    padding:0px;
    line-height:0;
    height:100%;
}
ul.cssMenu li.sep span{
    float:none; padding-right:0;
    width:3px;
    height:100%;
    display:inline-block;
    background-color:#cccccc #111111 #111111 #cccccc;   background-image:none;}
ul.cssMenu ul li.sep span{
    width:100%;
    height:3px;
}
ul.cssMenu li:hover{
    position:relative;
}
ul.cssMenu li:hover>a{
    background-color:#377D9F;
    border-color:#377D9F;
    border-style:solid;
    font:normal 12px Trebuchet MS, Tahoma;
    color: #FFFFFF;
    text-decoration:none;
}
ul.cssMenu li a:hover{
    position:relative;
    background-color:#377D9F;
    border-color:#377D9F;
    border-style:solid;
    font:normal 12px Trebuchet MS, Tahoma;
    color: #FFFFFF;
    text-decoration:none;
}
ul.cssMenu li.dis a {
    color: #666 !important;
}
ul.cssMenu img {border: none;float:left;_float:none;margin-right:2px;width:16px;
height:16px;
}
ul.cssMenu ul img {width:16px;
height:16px;
}
ul.cssMenu img.over{display:none}
ul.cssMenu li.dis a:hover img.over{display:none !important}
ul.cssMenu li.dis a:hover img.def {display:inline !important}
ul.cssMenu li:hover > a img.def  {display:none}
ul.cssMenu li:hover > a img.over {display:inline}
ul.cssMenu a:hover img.over,ul.cssMenu a:hover ul img.def,ul.cssMenu a:hover a:hover img.over{display:inline}
ul.cssMenu a:hover img.def,ul.cssMenu a:hover ul img.over,ul.cssMenu a:hover a:hover img.def{display:none}
ul.cssMenu a:hover ul{display:block}
ul.cssMenu span{
    display:block;
    background-image:url(http://purecssmenu.com/ssc-data/templates/newblack/images/arr_white.gif);
    background-position:right center;
    background-repeat: no-repeat;
   padding-right:12px;}
ul.cssMenu li:hover>a>span{ background-image:url(http://purecssmenu.com/ssc-data/templates/newblack/images/arrv_white.gif);
}
ul.cssMenu a:hover span{    _background-image:url(http://purecssmenu.com/ssc-data/templates/newblack/images/arrv_white.gif)}
ul.cssMenu ul span,ul.cssMenu a:hover table span{background-image:url(http://purecssmenu.com/ssc-data/templates/newblack/images/arr_white.gif)}