body {
	margin: 0;
	padding: auto;
	background-image: url(../img/grid50.png);
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	top: 0;
}

.main-menu-top {
	background-color: black;
	color: white;
	width: 100%;
	margin: 0 0 3px 0;
}

.ui-dialog-title {
	font-size: x-small;
	display: inline;
	text-align: center;
}

.draggable {
	display: inline-block;
	margin: 1px 5px 10px 1px;
	z-index: 10;
	padding: 5px;
	margin: 1px 5px 10px 1px;
	z-index: 10;
	padding: 5px;
	float: left;
	clear: left;
	box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
}

.about {
	width: 600px;
	margin: auto;
	position: absolute;
	top: 100px;
	left: 100px;
}

.about .text {
	height: 200px;
	overflow-y: auto;
	overflow-x: none;
}

.about .text>a:link {
	color: red;
}

.widget_draw_brush {
	width: 250px;
	float: left;
	cleat: both;
}

.surface {
	position: absolute;
	float: right;

}

.surface canvas {
	background-image: url(../img/grid-40x40.png);
}

.group {
	margin: 0.1em auto 0.1em auto;
	padding: 0.1em 0;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	text-align: center;
	color: #444444;
	background-color: #ddd;
	background-image: linear-gradient(#E5E5E5, #CFCFCF);
}

.group-tools>div.selected {
	box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
}

.group-tools>div {
	margin: 1px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	display: inline-block;
}

.hold-var {
	font-size: x-small;

	   margin: auto;
	   margin: 0 0.1em;
/* 	       -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px; */
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
	   
}
.hold-var h6 {
	display: inline-block;

}
.toolbox {
	width: 200px;
}

.layer {
	border-style: solid;
	border-width: 1px 0px 0px 0px;
	border-color: white;
}

.layer-manager>.selected {
	border-style: solid;
	border-width: 1px 0px 0px 0px;
	border-color: black;
}

.layer .label {
	font-size: x-small;
	width: 100px;
	overflow-wrap: text-overflow;
}

.layer  canvas {
	width: 50px;
	background-image: url(../img/grid-10x10.png);
}

.group-layers {
	width: 190px;
	overflow: hidden;
}

.group-layers>.selected {
	background-color: #404040;
	color: #EEE;
}

.layer-manager {
	width: 200px;
}

.layer-manager>.group-layers {
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 400px;
}

.layer-manager button {
	text-align: right;
}

.sliderex tr {
	border-style: solid;
	border: solid;
	border-width: 0 0 1px 0;
	border-color: white;
}

.group-colorpicker {
	
}

.group-colorpicker div {
	display: inline;
}

.group-colorpicker canvas {
	border-style: solid;
	border-width: 1px;
}

.parameter {
	font-weight: bold;
    font-size: x-small;
    text-align: left;
    margin: 0 0.5em;
}

.parameter h6 {
	margin: 0;
    padding: 0;
    width: 50px;
    font-size: x-small;
    display: inline-block;
    overflow: hidden;

}

.sliderex input {
	width: 2.5em;
	margin: 0 0 0 1em;
	padding: 0;

}

.sliderex .slider {
	margin: 0 0 0 0.1em;
	width: 90px;
	font-size: x-small;
	word-wrap:
}

.colorpicker {
	z-index: 100;
}

.colorpicker-colors  canvas {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	display: inline-block;
}

ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

li {
	list-style: none;
	list-style-position: outside;
	margin: 0;
}

.group-colorpicker img {
	display: inline;
	border-width: 1px;
	border-color: white;
	border-style: solid;
}

.button {
	display: inline;
	width: 64px;
	height: 64px;
}

.button .selected {
	background-image: url(../img/32x32_tool_background.png);
}

.menu {
	width: 200px;
	font-size: small;
}

.ui-tooltip {
	font-size: xx-small;
	text-transform: capitalize;
}
.group-license .text {
	font-size: x-small;
	white-space: pre-line;
}
.group-license a:link {
    color: green;
    text-transform: lowercase;
}
#rss-feed:parent {
	width: 400px;
	height: 300px;
    x-overflow: none;
	y-overflow: auto;
}
.ItemContent {
	height: 100px;
	overflow-y: auto;
	overflow-x: hidden;
	clear: left;
	float:right;
}