body {
    margin: 0;
    padding: 0;
    background-image:url(../img/grid50.png);
}

.surface-group {
    margin: auto;
    background-color: silver;
    border-style: solid;
    border-width: 1px 0 0 0;
    border-radius: 5px;
    left: 220px;
}

.draggable {
	  margin: 2px;
}
.draggable > h6.header {
	font-size: 1em;
	text-transform: capitalize;
	color: white;
    background-color: grey;
    margin: 1px 2px 1px 1px;
    padding: 1px 0 3px 0;
    border-style: solid;
    border-width: 1px 0 0 0;
    border-radius: 5px;
    text-align: center;
    height: 1em;
}

.draggable {
	position: absolute;
	margin: 0px 5px 0 5px;
    padding: 0px ;
    background-color: silver;
    border-style: solid;
    border-width: 1px 2px 2px 1px;
    border-radius: 5px;
}

.draggable,.toolbox {
    width: 200px;	
}

.widget_draw_box{
	height: 300;
}

.draw-surface {
    margin: auto;
    display:block;
    background-image:url(../img/grid-40x40.png);
}

.sliderex {
    margin: 2px 5px 0 5px;
    padding: 1px ;
    background-color: grey;
    border-style: solid;
    border-width: 1px 0 0 0;
    border-radius: 5px;
}

.sliderex > h6 {
    display: inline;
    margin: 0 2px;
    padding: 0 2px;
    background-color: silver;
    border-style: solid;
    border-width: 1px 0 0 0;
    border-radius: 5px;
}

.sliderex > input.input {
    width: 2em;
    display: inline;
    border-radius: 5px;
    float: right;
}

.sliderex > .slider {
    width: 150px;
    margin: 1px 5px 0 5px;
}

.widget_draw_brush > h6 {
    text-align: center;
}

.image-preview-group {
    width: 102px;
    margin: auto;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
}

.image-preview-group > canvas {
   
    margin: auto;
}

.widget_draw_brush {
    position: absolute;
    width: 200px;
}

.mousetracker {
    top: 500px;    
}

.toolbox {
    top: 500px;    
    visibility: hidden;
}



.var-colorpicker {
    width: 100px;
    height: 100px;
}
.colorpicker {
	z-index: 1000;
}

.layer canvas { 
    width: 50px;
    background-image:url(../img/grid-10x10.png);
    border-style: solid;
    margin: 1px auto 1em auto;
    display: inline;
}

.layer > table {
	width: 200px;
}

.layer {
    margin: 0;
    padding: 0;
	background-color: grey;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    
}
.layer-manager {
	position: absolute;
    left: 1150px;
}
.layer > td {
	white-space: no-wrap;
    
}


.sortable {
    
}

.sortable li {
	list-style: none;
}

.sortable-handle {
	color:#333;
    border:0px solid red;
    writing-mode:tb-rl;
    -webkit-transform:rotate(-90deg);
    -moz-transform:rotate(-90deg);
    -o-transform: rotate(-90deg);
    white-space:nowrap;
    display:block;
    bottom:0;
    width:20px;
    height:20px;
    font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
    font-size:12px;
    font-weight:normal;
    text-shadow: 0px 0px 1px #333;
    cursor: move; 
}