body {
    margin: 0;
    padding: 0;
    background-image:url(../img/grid50.png);
}

.surface-group {
    margin: auto;
    background-color: silver;
    border-style: solid;
    border-width: 1px 0 0 0;
    border-radius: 5px;
}

.draggable > h6.header {
    background-color: silver;
    vertical-align: top;
    margin: 0.5em 2em 1em 2em;
    padding: 0.5em 1em;
    border-style: solid;
    border-width: 1px 0 0 0;
    border-radius: 5px;
    text-align: center;
}

.draggable {
	margin: 0px 5px 0 5px;
    padding: 1px ;
    background-color: grey;
    border-style: solid;
    border-width: 1px 0 0 0;
    border-radius: 5px;
}

.draggable,.toolbox {
    width: 200px;	
}

.draw-surface {
    margin: auto;
    display:block;
    background-image:url(../img/grid-40x40.png);
}

.sliderex {
    margin: 2px 5px 0 5px;
    padding: 1px ;
    background-color: grey;
    border-style: solid;
    border-width: 1px 0 0 0;
    border-radius: 5px;
}

.sliderex > h6 {
    display: inline;
    margin: 0 2px;
    padding: 0 2px;
    background-color: silver;
    border-style: solid;
    border-width: 1px 0 0 0;
    border-radius: 5px;
}

.sliderex > input.input {
    width: 2em;
    display: inline;
    border-radius: 5px;
    float: right;
}

.sliderex > .slider {
    width: 150px;
    margin: 1px 5px 0 5px;
}

.widget_draw_brush > h6 {
    text-align: center;
}

.image-preview-group {
    width: 102px;
    margin: auto;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
}

.image-preview-group > canvas {
   
    margin: auto;
}

.widget_draw_brush {
    position: absolute;
    background-color: silver;
    border-radius: 5px;
    width: 200px;
    margin: 0.5em;
    padding: 1px;
    top: 1em;
}

.mousetracker {
	width: 200px;
    margin: 2px 5px 0 5px;
    padding: 1px ;
    background-color: silver;
    border-style: solid;
    border-width: 1px 0 0 0;
    border-radius: 5px;
    display: block;
}



.mousetracker > .hold-var {
	display: inline;
}
.mousetracker > .var-x {
	display: inline-block;
}

.var-colorpicker {
    width: 100px;
    height: 100px;
}
.colorpicker {
	z-index: 1000;
}